<!DOCTYPE html>
<html lang="pt-BR" ng-app="agenda">
<head>
	<meta charset="UTF-8">
	<title>Agenda Telefônica</title>
	<!-- Latest compiled and minified Bootstrap CSS -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<!-- Optional Bootstrap theme -->
	<link rel="stylesheet" href="css/bootstrap-theme.min.css">
	<!-- Custom CSS -->
	<link rel="stylesheet" href="css/custom.css">
</head>
</head>
<body ng-controller="MainController">
	<div class="container">
		<div class="row">
				<!-- /.col-xs-12 -->
				<main class="col-md-5 col-md-offset-1">
					<header>
						<h1 ng-bind="appName"></h1>
					</header>
					<form>
						<div class="form-group">
							<label>Nome</label>
							<input ng-model="contato.nome" type="text" class="form-control">
						</div>
						<!-- /.form-group -->
						<div class="form-group">
							<label>Telefone</label>
							<input ng-model="contato.telefone" type="text" class="form-control">
						</div>
						<!-- /.form-group -->
						<div class="form-group">
							<label>Operadora</label>
							<select ng-model="contato.operadora" ng-options="operadora for operadora in operadoras" class="form-control">
								<option value="">Selecione uma operadora...</option>
							</select>
						</div><!-- ./form-control -->
						<button class="btn btn-primary btn-block" ng-click="addContato(contato)" ng-hide="update" ng-disabled="!contato.nome || !contato.telefone || !contato.operadora">Salvar</button>
						<button class="btn btn-info btn-block" ng-click="updateContato(contato)" ng-show="update" ng-disabled="!contato.nome || !contato.telefone || !contato.operadora">Atualizar</button>
					</form>
				</main>
				<sidebar class="col-md-5">
					<table class="table table-striped table-bordered" ng-show="contatos.length > 0">
						<tr>
							<th>Nome</th>
							<th>Telefone</th>
							<th>Operadora</th>
						</tr>
						<tr ng-repeat="contato in contatos">
							<td>{{contato.nome}}</td>
							<td>{{contato.telefone}}</td>
							<td>{{contato.operadora}}</td>
							<td>
								<button class="btn btn-warning" ng-disable="update" ng-click="editContato(contatos[$index])"><i class="glyphicon glyphicon-edit"></i></button>
								<button class="btn btn-danger" ng-disable="update" ng-click="rmContato($index)"><i class="glyphicon glyphicon-remove"></i></button>
							</td>
						</tr>
					</table>
					<!-- /.table -->
				</sidebar>
			</div>
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container -->
	<!-- Angular JS -->
	<script src="js/lib/angular.min.js"></script>
	<!-- Angular modules -->
	<script src="js/app.js"></script>
	<!-- Angular Controllers -->
	<script src="js/controllers/main-controller.js"></script>
</body>
</html>